db-data

logs
*.log

node_modules
dist
dist-ssr
*.local

.DS_Store

*.py[cod]
__pycache__/
*.so

.venv/
*.pyc
*.pyo
db.sqlite3
media/
food_images/
staticfiles/

.vscode/
.idea/

*.tmp
*.temp
desktop.ini